
* {
  font-family: "Poppins", sans-serif;
  box-sizing:border-box;
}

h1, nav a, button{
  font-weight: 700;
}
h1{
  margin-left: 10px;
}
h2{
  font-weight: 600;
  margin-left: 10px;
}
body, p, li{
  font-weight: 400;
}
p{
  margin: 10px;
}

header{
  display: grid;
  grid-template-columns: 24px auto 44px;
  padding: 5px 0 5px 10px;
  align-items:center;
  border-bottom: solid 1px #E2E8F0;
  column-gap: 8px;
}

header img {
  display: block;
  width: 100%;
  height: auto;
}
header h1 {
  font-size: 1.2rem;
  color:#1E3A8A;
}
.sub-titles{
  background-color:#1E3A8A;
  color: white;
}

.about-card, .photo-card{
  background-color: #cecccc;
  border: 1px solid #1E3A8A;
}

/*Haburger  nav button*/
.hamburger{
  background-color: none;
  border: none;
  color:#1E3A8A;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hamburger::before{
  content: "\2630";
}

.hamburger.show::before{
  content: "\00D7";
}

/*Nav menu button*/
.navigation{
  display: none;
}
.navigation.show{
  display:block;
}

.navigation ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navigation a {
  display: block;
  padding: .5rem 10px;
  color:#1E3A8A;
  text-decoration: none;
  border-bottom: solid 1px #E2E8F0;
  text-align: center;
}
.navigation li .current{
  background-color: #cecccc;
}

.navigation a:hover{
  background-color: #cecccc;
}

/*****Courses Buttons*****/


/****************FOOTER******************/
.footer-js{
  background-color: #cecccc;
  padding: 1rem 10px;
  text-align: center;
}
.social{
display: flex;
justify-content: center;
column-gap: 8px;
}
.social a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 22px;
}

.social img {
  width: 22px;
  height: 22px;
}

.social a:hover{
  background-color: #ddd;
}